html, body
{
height: 100%;
margin: 0;
}

body{
background-image: linear-gradient(to right top, #ff00ff, #8A56EF, #00AAEE, #EEAA00);

}
.header { color: white;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px; } .header img { width: 80px;margin-left: -15px; }

.logo { width: 80px;margin-top: 30px;border-radius: 40px; }